*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; padding: 0;
}

footer{
    background-color: #f5dcf3;
    grid-column: 1 / -1;
}

section{
    background-color: #eaffbd;
    grid-column: 2 / -1;
}

nav{
    background-color: #99d8ff;
    grid-row: 2 / -2;
}

header{
    background-color: #fbd4d4;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

article{
    background-color: aquamarine;
    min-height: 100px;
    border-radius: 4px;
}

.grid-wrapper > *{
    min-height: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-wrapper{
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 240px 1fr;
    gap: 1rem;
}

.grid-wrapper > main{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}